.order-form-area {
    .page-title-area {
        height: 105px;
        background-image: linear-gradient(264deg, #3accff, #2cec88);

        .title {
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 56px;
            color: #fff;
            font-size: 20px;
            background-image: linear-gradient(264deg, #3accff, #2cec88);
            font-weight: 700;
            z-index:1;
        }


        .btn-close {
            z-index: 1;
            top: 0;
            right: 0;
            position: fixed;
            width: 56px;
            height: 56px;

            .ico-close {
                width: 18px;
            }
        }
    }

    .btn-order-area {
        margin-top: 20px;
        @include common-inner;

        .btn-order {
            display: flex;
            background-color: $green;
            justify-content: center;
            align-items: center;
            margin: 2px $m-padding 0;
            width: calc(100% - #{$m-padding} * 2);
            border: 5px;
            font-size: 16px;
            font-weight: 700;
            height: 50px;
            color: #fff;


            .ico-n-logo {
                margin-right: 6px;
            }
        }
    }

    .go-to-top {
        background: none;
        padding: 26px 0;
    }
}